<html>
    <head>
        <title>Flask-SocketIO-Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>  
        <a class='btn' href='http://127.0.0.1:5000/chat' title='' formmethod = 'POST'> Start</a>
        <span class='color color--blue' data-value='1'></span>
        <span class='color color--orange' data-value='1'></span>
        <span class='color color--green' data-value='1'></span>
        <span class='color color--white' data-value='1'></span>
        <script src="../staic/index.js"></script>
     
    </body>
</html>
